*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.Home {
    display: flex;
    justify-content: flex-end; /* Align to the right */
    align-items: flex-end; /* Align to the bottom */
    height: 100vh;
    width: 100vw;
    background-color: skyblue;
    position: relative;
}
.ChatbotContainer {
    position: absolute;
    bottom: 20px; /* Adjust the distance from the bottom */
    right: 20px; /* Adjust the distance from the right */
  }